include mixins.pug

doctype html
html(lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='google' content='notranslate')

		block title

		block styles
			link(href='/css/bootstrap.min.css' rel='stylesheet')
			link(href='/css/coinflipper.css' rel='stylesheet')

		block scripts
			script(src='/js/jquery.min.js' type='text/javascript')
			script(src='/js/bootstrap.min.js' type='text/javascript')

		link(href='/images/favicon.ico' rel='icon')

	body
		-
			var navItems = [];

			if (session && session.user && session.user.admin) {
				navItems.push({ name: 'Users', href: '/admin/users' });
				navItems.push({ name: 'Add User', href: '/admin/users/add' });
				navItems.push({ name: 'Sessions', href: '/admin/sessions' });
			}

			if (session) {
				navItems.push({ name: 'Log Out', href: '/sessions/delete' });
			}
			else {
				navItems.push({ name: 'Log In', href: '/login' });
			}

		nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top.mb-3
			a.navbar-brand(href='/')
				img.logo.mr-2(src='/images/logo.png' height='30')
				strong.align-middle Coinflipper Login
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav')
				span.navbar-toggler-icon
			div.collapse.navbar-collapse#navbarNav
				ul.navbar-nav
					each navItem in navItems
						if navItem.name == 'Log Out'
							li.nav-item.dropdown.py-1
								a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
									| Log Out

								div.log-out.dropdown-menu.py-0
									a.this-device.dropdown-item(href='/sessions/delete') This Device
									a.all-devices.dropdown-item(href='/sessions/deleteAll') All Devices
						else
							li.nav-item.py-1
								a.nav-link(href=navItem.href target=navItem.target || '_self') #{navItem.name}

		if pretendingSessions && pretendingSessions.length > 0
			div.alert.alert-warning.mb-3.rounded-0
				div.container
					div.d-flex.justify-content-between.align-items-center
						div
							strong ⚠ Pretend Mode Active
							ul.mb-0.mt-1
								each ps in pretendingSessions
									if ps._id.equals(session._id)
										li.mb-1
											strong This session
											|  is pretending to be #[strong #{ps.pretendingToBe.name.first} #{ps.pretendingToBe.name.last}] (#{ps.pretendingToBe.username})
											form.d-inline.ml-2(action='/admin/sessions/' + ps.key + '/pretend' method='POST')
												input(type='hidden' name='redirectTo' value='/')
												button.btn.btn-xs.btn-outline-dark(type='submit' style='font-size: 0.75rem; padding: 0.1rem 0.4rem;') Stop
								each ps in pretendingSessions
									if !ps._id.equals(session._id)
										li.mb-1
											| Another session is pretending to be #[strong #{ps.pretendingToBe.name.first} #{ps.pretendingToBe.name.last}] (#{ps.pretendingToBe.username})
											form.d-inline.ml-2(action='/admin/sessions/' + ps.key + '/pretend' method='POST')
												input(type='hidden' name='redirectTo' value='/')
												button.btn.btn-xs.btn-outline-dark(type='submit' style='font-size: 0.75rem; padding: 0.1rem 0.4rem;') Stop
						div
							a.btn.btn-sm.btn-outline-secondary(href='/admin/sessions/' + session.user.username) Manage Sessions

		div.container.pb-3
			block content
