extends ../layout.pug

block title
	+title('Sessions for ' + targetUser.username)

block content
	div.page-header.d-flex.justify-content-between.align-items-center
		h1 Sessions for #{targetUser.name.nick}
			small.text-muted.ml-2 (#{targetUser.username})
		a.btn.btn-outline-secondary(href='/admin/sessions') Back to All Sessions

	if userSessions.length === 0
		div.alert.alert-info No sessions found for this user.
	else
		p.text-muted #{userSessions.length} session#{userSessions.length > 1 ? 's' : ''}

		each s in userSessions
			div.card.mb-3
				div.card-body
					div.row
						div.col-12.col-md-8.mb-2.mb-md-0
							div
								code.mr-2 #{s.key.substring(0, 8)}
								if s._id.equals(session._id)
									span.badge.badge-info Current
								if s.pretendingToBe
									span.badge.badge-warning.ml-1 Pretending
							small.text-muted
								if s.lastActivity
									| Last active #{s.lastActivity.toLocaleDateString()} #{s.lastActivity.toLocaleTimeString()}
								else
									| Never active
						div.col-12.col-md-4.text-md-right
							form.d-inline(action='/admin/sessions/delete/' + s.key method='POST')
								button.btn.btn-sm.btn-outline-danger(type='submit' onclick='return confirm("Delete this session entirely?")') Delete

				if session.user.admin && targetUser._id.equals(session.user._id)
					if s.pretendingToBe
						div.card-footer.alert-warning.mb-0.rounded-0.border-top
							| Pretending to be #[strong #{s.pretendingToBe.name.first} #{s.pretendingToBe.name.last}] (#{s.pretendingToBe.username}).
							form.d-inline.ml-2(action='/admin/sessions/' + s.key + '/pretend' method='POST')
								button.btn.btn-sm.btn-outline-dark(type='submit') Stop
					else
						div.card-footer
							form.d-inline(action='/admin/sessions/' + s.key + '/pretend' method='POST')
								select.form-control.form-control-sm.d-inline.mr-2(name='username' style='width: auto;')
									each u in allUsers
										option(value=u.username) #{u.name.first} #{u.name.last} (#{u.username})
								button.btn.btn-sm.btn-outline-primary(type='submit') Pretend to Be
